button {
  &:hover {
    color: var(--app-base-02);
    background-color: var(--app-base-03);
    cursor: pointer;
  }
}

input {
  &::placeholder {
    color: var(--app-base-03);;
  }

  &:focus {
    outline: none;
    color: var(--app-base-03);
  }
}
fieldset {
  border: none;
}
