:root {
	--app-element-height: 40px;
	--app-element-width-small: 170px;
	--app-element-width-medium: 250px;
	--app-element-width-large: 345px;

	--app-border-radius: 5px;
	--app-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);

	--app-z-high-primary: 1001;
	--app-z-high-secondary: 1000;
	--app-z-low-primary: 2;
	--app-z-low-secondary: 1;
	--app-z-low-minus-secondary: -1;

	--app-base-01: #ec4b54;
	--app-base-01-hover: #993d46;
	--app-base-02: #fff;
	--app-base-02-hover: #f3f3f3;
	--app-base-03: #d5a16f;
	--app-base-03-hover: #f59870;
	--app-base-04: #ec4b54;
	--app-base-04-hover: #ec4b54;
	--app-success: #168246;
	--app-warning: #f59870;
	--app-danger: #c21807;
	--app-background-dark: #ec4b54;
	--app-background-medium: #f3f3f3;
	--app-background-light: #fff;
	--app-text-base-01: #d94f5cff;
	--app-text-base-02: #ec4b54;
}
