{{!< auth/auth-layout}}

<div class="inputs-container">
    <label class="label">Вход</label>

    <form>
        <fieldset>
            {{> "input/input" name="login" label="Логин" type="email" placeholder="ivan@mail.ru" }}

            {{> "input/input" name="password" label="Пароль" type="password" placeholder="******" }}

            <div class="login-button-container">
                {{> "button/button" label= "Войти" type="submit"}}
            </div>

            <a class="prompt" href="../registration/registration.hbs">Создать аккаунт?</a>
        </fieldset>
    </form>

</div>
