.initial-input {
	display: flex;
	flex-direction: column;
	color: var(--app-base-04);

	&__label {
		display: block;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: var(--app-base-04);
		margin-bottom: 8px;
	}

	&__block {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-bottom: 8px;

		&:hover {
			border-color: var(--app-base-01);
		}
	}

	&__error {
		color: var(--app-base-03);
		opacity: 1
	}

	&__input {
		color: var(--app-danger);
		background-color: transparent;
		border-top: none;
		border-left: none;
		border-right: none;
		padding-bottom: 7px;
		width:  100%;

		&::placeholder {
			color: var(--app-base-03);
			transition: color .3s ease
		}
	}

	&_disabled {
		pointer-events: none;

		& .initial-input {
			&__label {
				color: var(--app-base-04);
			}
		}

		&__input {
			color: var(--app-base-04);
		}
	}

}
