<li><a onclick="changePage('loginPage')">Логин</a></li>
<li><a onclick="changePage('registrationPage')">Регистрация</a></li>
<li><a onclick="changePage('settingsPage')">Настройки (Общая)</a></li>
<li><a onclick="changePage('settingsChangeInfoPage')">Настройки профиля</a></li>
<li><a onclick="changePage('chatPage')">Чат</a></li>
<li><a onclick="changePage('errorPage')">500</a></li>
<li><a onclick="changePage('notFoundPage')">404</a></li>