.logout__button {
  background: var(--app-danger);
  border-radius: 8px;
  width: 100%;
  border: none;
  color: var(--app-base-02);
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  padding: 12px 70px;
}
