{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"filenames"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"quotes": [
			2,
			"single",
			{
				"avoidEscape": true
			}
		],
		"filenames/match-exported": [
			"error",
			"kebab"
		],
		"no-use-before-define": ["warn", {
			"functions": true,
			"classes": false,
			"variables": true,
			"allowNamedExports": false
		}],
		"no-param-reassign": ["warn"]
	}

}
