<div class="chat-layout__sidebar">
	{{{ chatSidebar }}}
	<img src="../img/no_messages.svg"/>
</div>
<div class="chat-layout__content">
	{{#if chatContent}}
		{{{ chatContent }}}
	{{else}}
		<img src="../img/no_messages.svg"/>
	{{/if}}
</div>

