<div class='chat-layout__sidebar'>
	{{{chatSidebar}}}
</div>
<div class='chat-layout__content'>

	{{#if chatContent}}
		{{{chatContent}}}
	{{else}}
		<span class='content-label'>Начните новый чат</span>
		<img class='backround-image' src='../img/no_messages.svg' alt='mountains' />
	{{/if}}
</div>