.submit__button {
  background: var( --app-base-01);
  border-radius: 8px;
  border: none;
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 70px;
}
