<div class="dialog__actions actions">
	<div class="actions__icon"></div>
	<div class="actions__tooltip">
		<ul class="actions__list">
			{{#each actionsList}}
				<li data-action="{{ this.action }}" class="actions__item link link_base">{{ this.name }}</li>
			{{/each}}
		</ul>
	</div>
</div>

