<div class="login-container">
	<label class="login-container__label">Вход 111</label>
	<form>
		<fieldset>
			{{{ loginInput }}}

			{{{ passwordInput }}}

			{{{ submitButton }}}

			{{{ registrationLink }}}
		</fieldset>
	</form>
</div>
