<div class='login-container'>
	<label class='login-container__label'>Вход</label>
	<form>
		<fieldset>
			{{{loginInput}}}

			{{{passwordInput}}}

			{{{submitButton}}}

			{{{registrationLink}}}
		</fieldset>
	</form>
</div>