<div class='chat-add-new-chat-form-container'>
	<label class='chat-add-new-chat-form-container__label'>Добавить новый чат</label>
	<fieldset>
		{{{titleInput}}}
		<div class='chat-add-new-chat-form-container__actions'>
			{{{submitButton}}}
			{{{cancelButton}}}
		</div>
	</fieldset>
</div>