.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px 30px 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  min-width: 340px;
  box-sizing: border-box;
  height: 100%;

  .prompt{
    @include template-text-regular;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: var(--app-base-03);
    text-decoration: none;
  }
}

.label{
  @include template-text-bold;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  line-height: 20px;
  color: var( --app-base-01);
  margin-bottom: 40px;
  margin-top: 20px;
}


