.chat-header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;

  .participant {
    display: flex;
    justify-content: start;
    align-items: center;
    justify-items: center;
	  img{
		  width: 70px;
		  height: 70px;
		  border-radius: 50%;
	  }
    h1{
      color: var(--app-base-03);
		font-size: 30px;
    }
  }
  border-bottom: 3px solid var(--app-base-01);
}


