<div class="chat-header">
    <div class="participant">
        {{> "chat/chat-user-avatar/chat-user-avatar"}}
        <h1>Александр Лактионов</h1>
    </div>
        {{> "dots-menu/dots-menu" link="../settings-change-info/settings-change-info.hbs"}}
</div>
