{{!< auth/auth-layout}}

<div class="inputs-container">
    <label class="label">Регистрация</label>
    <form>
        <fieldset>
            {{> "input/input" name="email" type="email" label="Почта" placeholder="pochta@yandex.ru" }}

            {{> "input/input" name="login"  type="text" label="Логин" placeholder="ivanivanov" }}

            {{> "input/input" name="first_name" type="text" label="Имя" placeholder="Иван" }}

            {{> "input/input" name="second_name" type="text" label="Фамилия" placeholder="Иванов" }}

            {{> "input/input" name="phone" type="tel" label="Телефон" placeholder="+7(909)9673030" }}

            {{> "input/input" name="password" type="password" label="Пароль" placeholder="*****" }}

            {{> "input/input" name="repeat_password" type="password"  label="Пароль еще раз" placeholder="*****" }}

            <div class="registration-button-container">
                {{> "button/button" label="Создать профиль" type="submit"}}
            </div>
            <a class="prompt" href="../login/login.hbs">Войти</a>
        </fieldset>
    </form>
</div>




