<div class="chat-sidebar">
    <div class="chat-sidebar_header">
        <div class="page-link">
            <a href="../settings/settings.hbs">Профиль</a>
        </div>
        {{> "search-input/search-input"}}
    </div>

    <div class="chat-dialog">
        {{> "chat/chat-dialog/chat-dialog"
                userName= "Андрей"
                you= "Вы"
                message= "Привет. Как дела ?"
                dateLabel= "10.03.2023"
                unreadMessagesAmount="4"
        }}

        <div class="chat-dialog">
            {{> "chat/chat-dialog/chat-dialog"
                    userName= "Екатерина"
                    you= "Ты"
                    message= "Завтра новая встреча"
                    dateLabel= "09.01.2023"
                    unreadMessagesAmount="7"
            }}

            <div class="chat-dialog">
                {{> "chat/chat-dialog/chat-dialog"
                        userName= "Илон Маск"
                        you= "Мы"
                        message= "Facebook VS Telegram?"
                        dateLabel= "11.04.2023"
                        unreadMessagesAmount="199"
                }}
            </div>
        </div>
    </div>
</div>
