<div class="avatar-container">
    <label class="avatar-label" for="file">
        <span>Поменять аватар</span>
    </label>
    <input name="avatar" id="file" type="file" onchange="alert('Вы поменяли аватар')"/>
    <img src="../../assets/img/avatar.png" id="output" />
</div>
