<div class="avatar-container">
    <label class="avatar-container__label" for="file">
        <span>{{label}}</span>
    </label>
    <input name="{{name}}" id="file" type="file" onchange="alert('Вы поменяли аватар')"/>
    <img src="../../assets/img/avatar.png" id="output" />
</div>

