.settings-user-avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
}

@mixin object-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 var(--app-base-04);
$fontColor: var(--app-base-02);

.avatar-container {
	color: transparent;
	transition: all .3s ease;
	@include object-center;
	position: relative;
	transition: all .3s ease;

	input {
		display: none;
	}

	img {
		position: absolute;
		object-fit: cover;
		width: $circleSize;
		height: $circleSize;
		box-shadow: $shadow;
		border-radius: $radius;
		z-index: 0;
	}

	&__label {
		cursor: pointer;
		height: $circleSize;
		width: $circleSize;
	}

	&:hover {
		&__label {
			@include object-center;
			background-color: var(--app-base-01);
			opacity: 0.7;
			z-index: 10000;
			color: $fontColor;
			transition: background-color .2s ease-in-out;
			border-radius: $radius;
			margin-bottom: 0;
		}
	}

	span {
		display: inline-flex;
		padding: .2em;
		height: 2em;
	}
}
