<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="label">Авторизация</title>
    <link rel="stylesheet" href="../../styles/styles.scss">
</head>
<body>
<main class="auth-container">
    <h1 class="label">Авторизация</h1>
    <div class="auth-form-container">
        {{{body}}}
    </div>
</main>
</body>
</html>
