{{!< settings/settings-layout}}
<div class="settings-form-container">
    {{> "settings-user-avatar/settings-user-avatar"}}

    <label class="user-name">Иван</label>

    {{> "settings-user-item/settings-user-item" label="Почта" value="potcha@yandex.ru" }}
    {{> "settings-user-item/settings-user-item" label="Логин" value="Иванов" }}
    {{> "settings-user-item/settings-user-item" label="Имя" value="Иванов" }}
    {{> "settings-user-item/settings-user-item" label="Фамилия" value="Иванов" }}
    {{> "settings-user-item/settings-user-item" label="Имя в чате" value="Иванов" }}
    {{> "settings-user-item/settings-user-item" label="Телефон" value="+7(909) 967 30 30" }}

    <div class="settings-links">
        {{> "settings-action/settings-action" label="Изменить данные"  link="../settings-change-info/settings-change-info.hbs"}}
        {{> "settings-action/settings-action" label="Изменить пароль" link="../settings-change-password/settings-change-password.hbs"}}
    </div>

    <div class="action-container">
        {{> "logout-button/logout-button" label="Выйти"}}
    </div>
</div>
