.chat-message-input{
  flex-grow: 1;
  margin-right: 10px;
  background: var( --app-base-04);;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  color: var(--app-base-02);
}

@media (min-width:  400px) {.chat-message-input {width: 150px;}}
@media (min-width:  600px) {.chat-message-input {width:  300px;}}
@media (min-width:  900px) {.chat-message-input {width:  300px;}}
@media (min-width: 1300px) {.chat-message-input {width: 500px;}}
@media (min-width: 1800px) {.chat-message-input {width: 800px;}}
@media (min-width: 2400px) {.chat-message-input {width:  1500px;}}
