.error-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	&__label{
		color: var(--app-base-01);
	}

	&__description{
		color: var(--app-base-03);
	}
}


