.settings_input-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

  .settings_input-label {
    color: var(--app-base-04);
  }

  .settings_input-value {
    color: var(--app-text-base-01);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--app-background-medium);
    @include template-text-bold ;
  }
