<div class='chat-delete-chat-form-container'>
	<label class='chat-delete-chat-form-container__label'>Вы действительно хотите удлаить данный чат?</label>
	<fieldset>
		<div class='chat-delete-chat-form-container__actions'>
			{{{submitButton}}}
			{{{cancelButton}}}
		</div>
	</fieldset>
</div>