<ol class="chat">
    <li class="other">
        <div class="msg">
            <div class="user">Андрей<span class="range admin">Admin</span></div>
            <p>Привет</p>
            <p>Ты пойдешь на обед? <emoji class="pizza"></emoji></p>
            <time>20:17</time>
        </div>
    </li>
    <li class="self">
        <div class="msg">
            <div class="user">Иван</div>
            <p><emoji class="scream"></emoji></p>
            <p>Да, давай в 5! <emoji class="please"></emoji></p>
            <time>20:18</time>
        </div>
    </li>
    <li class="other">
        <div class="msg">
            <div class="user">Илон</div>
            <p>Договорились! <emoji class="hearth_blue"></emoji></p>
            <time>20:20</time>
        </div>
    </li>
    <li class="self">
        <div class="msg">
            <p>Что ты собираешься есть?</p>
            <time>18:03</time>
        </div>
    </li>
    <li class="other">
        <div class="msg">
            <div class="user">Владимир</div>
            <p>Все что будет в меню!</p>
            <time>18:07</time>
        </div>
    </li>
</ol>
