{{!< settings/settings-layout}}

<div class="settings-form-container">
    {{> "settings-user-avatar/settings-user-avatar"}}
    <label class="label">Изменить пароль</label>

    <form>
        <fieldset>
            {{> "settings-user-input/settings-user-input" name="oldPassword" type="password" label="Старый пароль" placeholder="*******" }}
            {{> "settings-user-input/settings-user-input" name="newPassword" type="password" label="Новый пароль" placeholder="*******" }}
            {{> "settings-user-input/settings-user-input" name="repeatPassword" type="password" label="Повторите новый пароль" placeholder="*******" }}

            <div class="action-container">
                {{> "button/button" label="Сохранить" type="submit" link="index.html"}}
            </div>
        </fieldset>
    </form>
</div>
