<head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="../src/styles/styles.scss">
</head>
<nav>
    <ul class="menu">
        <li><a href="pages/login/login.hbs">Логин</a></li>
        <li><a href="pages/registration/registration.hbs">Регистрация</a></li>
        <li><a href="pages/chat/chat.hbs">Чат</a></li>

        <li><a href="pages/settings/settings.hbs">Профиль</a></li>

        <li><a href="pages/not-found/not-found.hbs">404</a></li>
        <li><a href="pages/error/error.hbs">505</a></li>

    </ul>
</nav>

